sampleData/DynaML.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by New2DynaML (NEWGAN to DynaML Translator)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Clusterpoint">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="X"/>
				<xs:element ref="Y"/>
				<xs:element ref="Z"/>
				<xs:element ref="SigmaXX"/>
				<xs:element ref="SigmaXY"/>
				<xs:element ref="SigmaXZ"/>
				<xs:element ref="SigmaYY"/>
				<xs:element ref="SigmaYZ"/>
				<xs:element ref="SigmaZZ"/>
				<xs:element ref="PointCovariance" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Constraints" type="xs:string"/>
	<xs:element name="Coords" type="xs:string"/>
	<xs:element name="Description" type="xs:string"/>
	<xs:element name="Directions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Ignore"/>
				<xs:element ref="Target"/>
				<xs:element ref="Value"/>
				<xs:element ref="StdDev"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DnaMeasurement">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="Type"/>
				<xs:element ref="Ignore" minOccurs="0"/>
				<xs:element ref="ReferenceFrame" minOccurs="0"/>
				<xs:element ref="Epoch" minOccurs="0"/>
				<xs:element ref="First"/>
				<xs:element ref="Second"/>
				<xs:element ref="Third"/>
				<xs:element ref="Value"/>
				<xs:element ref="StdDev"/>
				<xs:element ref="InstHeight"/>
				<xs:element ref="TargHeight"/>
				<xs:element ref="Total"/>
				<xs:element ref="Directions"/>
				<xs:element ref="Vscale"/>
				<xs:element ref="GPSBaseline"/>
				<xs:element ref="Hscale" minOccurs="0"/>
				<xs:element ref="Lscale" minOccurs="0"/>
				<xs:element ref="Pscale" minOccurs="0"/>
				<xs:element ref="Clusterpoint"/>
				<xs:element ref="Coords"/>
				<xs:element ref="Source"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="DnaStation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="Constraints"/>
				<xs:element ref="Type"/>
				<xs:element ref="StationCoord"/>
				<xs:element ref="Description" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DnaXmlFormat">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="DnaStation"/>
				<xs:element ref="DnaMeasurement"/>
			</xs:choice>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Measurement File"/>
						<xs:enumeration value="Station File"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="referenceframe" type="xs:string" use="optional" default="GDA94"/>
			<xs:attribute name="epoch" type="xs:string" use="optional" default="01.01.1994"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="First" type="xs:string"/>
	<xs:element name="GPSBaseline">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="X"/>
				<xs:element ref="Y"/>
				<xs:element ref="Z"/>
				<xs:element ref="SigmaXX"/>
				<xs:element ref="SigmaXY"/>
				<xs:element ref="SigmaXZ"/>
				<xs:element ref="SigmaYY"/>
				<xs:element ref="SigmaYZ"/>
				<xs:element ref="SigmaZZ"/>
				<xs:element ref="GPSCovariance" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GPSCovariance">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="m11"/>
				<xs:element ref="m12"/>
				<xs:element ref="m13"/>
				<xs:element ref="m21"/>
				<xs:element ref="m22"/>
				<xs:element ref="m23"/>
				<xs:element ref="m31"/>
				<xs:element ref="m32"/>
				<xs:element ref="m33"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Height" type="xs:string"/>
	<xs:element name="HemisphereZone" type="xs:string"/>
	<xs:element name="Hscale" type="xs:string"/>
	<xs:element name="Ignore" type="xs:string"/>
	<xs:element name="InstHeight" type="xs:string"/>
	<xs:element name="Lscale" type="xs:string"/>
	<xs:element name="Name" type="xs:string"/>
	<xs:element name="PointCovariance">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="m11"/>
				<xs:element ref="m12"/>
				<xs:element ref="m13"/>
				<xs:element ref="m21"/>
				<xs:element ref="m22"/>
				<xs:element ref="m23"/>
				<xs:element ref="m31"/>
				<xs:element ref="m32"/>
				<xs:element ref="m33"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Pscale" type="xs:string"/>
	<xs:element name="Second" type="xs:string"/>
	<xs:element name="SigmaXX" type="xs:string"/>
	<xs:element name="SigmaXY" type="xs:string"/>
	<xs:element name="SigmaXZ" type="xs:string"/>
	<xs:element name="SigmaYY" type="xs:string"/>
	<xs:element name="SigmaYZ" type="xs:string"/>
	<xs:element name="SigmaZZ" type="xs:string"/>
	<xs:element name="StationCoord">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="XAxis"/>
				<xs:element ref="YAxis"/>
				<xs:element ref="Height"/>
				<xs:element ref="HemisphereZone" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StdDev" type="xs:string"/>
	<xs:element name="TargHeight" type="xs:string"/>
	<xs:element name="Target" type="xs:string"/>
	<xs:element name="Third" type="xs:string"/>
	<xs:element name="Total" type="xs:string"/>
	<xs:element name="Type" type="xs:string"/>
	<xs:element name="Value" type="xs:string"/>
	<xs:element name="Vscale" type="xs:string"/>
	<xs:element name="X" type="xs:string"/>
	<xs:element name="XAxis" type="xs:string"/>
	<xs:element name="Y" type="xs:string"/>
	<xs:element name="YAxis" type="xs:string"/>
	<xs:element name="Z" type="xs:string"/>
	<xs:element name="m11" type="xs:string"/>
	<xs:element name="m12" type="xs:string"/>
	<xs:element name="m13" type="xs:string"/>
	<xs:element name="m21" type="xs:string"/>
	<xs:element name="m22" type="xs:string"/>
	<xs:element name="m23" type="xs:string"/>
	<xs:element name="m31" type="xs:string"/>
	<xs:element name="m32" type="xs:string"/>
	<xs:element name="m33" type="xs:string"/>
	<xs:element name="Source" type="xs:string"/>
	<xs:element name="ReferenceFrame" type="xs:string"/>
	<xs:element name="Epoch" type="xs:string"/>
</xs:schema>
